/*en general*/
body{
    font-family: roboto;
    font-weight: lighter;
    color:  #1b1f21
    }
.container{
    display: flex;
}
/*de la pantalla de la derecha*/
main{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e8ebe4;;
    width: 80vw;
    height: 100vh;   
    margin: 0;
    padding: 0;
}
.t_principal{
    line-height: 5px;
    justify-content: center;
}
.logo{
    max-width: 30%;
    max-height: 30%;
}
/*del menú de la izquierda*/
menu{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100vh;
}
.img_usuarios {
    border-radius: 50%;
    max-width: 70%;
    max-height: 100%;
    border: 1px solid #bec1bb
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.ul2{
    color: #bec1bb;
    padding-left: 20%;
    font-size: x-large;
}
.color{
    color: #828485;
}
.color2{
    color: #1b1f21;
}
.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bec1bb;
    height: 17vh; 
    }
.boton{
    display: flex;
    justify-content: center;
    background-color: #a491d2;
    color: white;
    height: 7vh;
    width: 15vw; 
}
.usuarios {
    display: flex;
    border: 1px solid #bec1bb;
    height: 7vh; 
    margin: 0;
    padding-left: 10%;
    padding-top: 4.5%;
}